/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  color: burlywood;
  background-color: #1b6c36;
  text-align: center;
  padding: 20px;
}

.cabecera img {
  width: 70px;
  height: 70px;
  text-align: center;
}

nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

video {
  padding: 100px;
  border-radius: 50px;
}